<h1>View/Edit Item</h1>

    <h3><%= @item.name %></h3>
    <h3><%= @item.category %></h3>
    <h3><%= @item.quantity %></h3>

<% if @item  %>
<button <%= @item.id %>>Edit Item</button>
<button redirect to '/items/<%= @item.id %>/edit'>Edit Item</button>
<br>
<br>
<form action="/items/<%= @item.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">   
    <input type="submit" value="Delete Item">
</form>
<% end %>